      html,
      body {
        height: 100%;
        font-family: Arial, Helvetica, "Lucida Grande", Geneva, Tahoma, Verdana,
          sans-serif;
        color: midnightblue;
      }

      body {
        margin: 1rem;
        background: url("https://cdn.pixabay.com/photo/2015/05/15/14/52/water-768745_960_720.jpg")
          no-repeat center center fixed;
        background-size: cover;
      }

      @media (min-width: 481px) {
        .dashboard-container {
          margin-top: 2.45rem;
        }
      }

      .dashboard-item-link {
        list-style-type: none;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
      }

      .dashboard-item-link__icon {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }

      .dashboard-item-link {
        text-decoration: none;
        color: midnightblue;
      }
      .dashboard-item:hover {
        text-decoration: underline;
      }
